*{
    margin: 0;
    padding: 0;
  
}

.about-me {
 width:300px;
  height:100px;  
  display: table; 
  background: maroon; 
}

.about-me img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    
}

body {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

.nav-fixed{
    background-color: maroon;
    position: fixed;
    top: 0;
    z-index: 100;
}


.brand-logo {
    text-shadow: 4px 4px darkcyan;
}

ul{
font-size: 25px;
}

li {
    display: inline;
}

#content {
    max-width: 90%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

   
    color:black;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;


}
    

.about-me img:hover{
    color:cyan;
    background:cyan;
    box-shadow: 0 0 50px cyan;
}

p {
    font-size: 25px;
    font-family:'Courier New', Courier, monospace

}


.creations {
    display: flex;
    justify-content: space-between;
}

.creations h2 {
    flex: 0 0 15%;
    color:maroon;
}

.creations .container {
    flex: 0 0 75%;
}

.card-content {
    color:darkgoldenrod
}



.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }

  .page-footer{
      background-color: maroon;
  }

  .col {
      color: cyan;
  }



@media screen and (max-width: 550px){
    p {
        font-size: 20px;


    }
    
}


@media screen and (max-width: 550px){
    .about-me img {
        width:50%;
        height: 25%;
           
    }
}