*{
    margin: 0;
    padding: 0;
  
}

body {
        background-color: grey;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

#my-name{
    color:black;
    text-shadow: 4px 4px steelblue;
}  
ul{
font-size: 25px;
text-shadow: 3px 3px steelblue;
}

li {
    display: inline;
}

#content {
    max-width: 90%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

   
    color:black;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;


}
    
.about-me {
    border-width: 5px;
    border-style: solid;
    border-radius: 5% 5%;
    background-color: steelblue
}

.about-me img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    
}

p {
    font-size: 25px;
    font-family:'Courier New', Courier, monospace

}

.creations {
    display: flex;
    justify-content: space-between;
}

.creations h2 {
    flex: 0 0 15%;
}

.creations .container {
    flex: 0 0 75%;
}


.image {
    border: 4px solid;
    min-height: 500px;
    max-height: 500px;
    margin-bottom: 20px;
    background-size: cover;
   
    
    
    transition: .5s ease;
}

.image2 {
    border: 4px solid;
    min-height: 500px;
    max-height: 500px;
    margin-bottom: 20px;
    background-size: cover;
    
    
    transition: .5s ease;
}

.image3 {
    border: 4px solid;
    min-height: 300px;
    max-height: 300px;
    margin-bottom: 20px;
    background-size: cover;
    
    
    transition: .5s ease;
}

.image4 {
    border: 4px solid;
    min-height: 300px;
    max-height: 300px;
    margin-bottom: 20px;
    background-size: cover;
    
    
    transition: .5s ease;
}

.image5 {
    border: 4px solid;
    min-height: 500px;
    max-height: 500px;
    margin-bottom: 20px;
    background-size: cover;
    
    
    transition: .5s ease;
}

.image6 {
    border: 4px solid;
    min-height: 500px;
    max-height: 500px;
    margin-bottom: 20px;
    background-size: cover;
    
    
    transition: .5s ease;
}

.image7 {
    border: 4px solid;
    min-height: 600px;
    max-height: 600px;
    margin-bottom: 20px;
    background-size: cover;
    
    
    transition: .5s ease;
}



.image:hover {
    opacity: 0.3;
}

.image2:hover{
    opacity: 0.3;
}

.placeholder {
    background-image: url("./images/refactor.png"); 
    
    
}

.placeholder2 {
    background-image: url("./images/better-land-page.png");
    
}

.placeholder3 {
    background-image: url("./images/password-gen.png")
}

.placeholder4 {
    background-image: url("./images/work-day.png")
}

.placeholder5 {
    background-image: url("./images/art-loop.png")
}

.placeholder6 {
    background-image: url("./images/readme.png")
}

.placeholder7 {
    background-image: url("./images/ecommerce.jpg")
}





footer{
    color: var(--light-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size:  30px;
}

footer p{
    color: var(--green);
    font-size: 30px;
}



@media screen and (max-width: 550px){
    p {
        font-size: 11px;


    }
    
}


@media screen and (max-width: 550px){
    .about-me img {
        width:50%;
        height: 25%;
           
    }

@media screen and (max-width: 550px){
    .placeholder img {
        width:50%;
        height: 50%;
               
        }

@media screen and (max-width: 550px){
    .placeholder2 img {
        width:50%;
        height: 50%;
                   
            }

